<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.weatherterm</string>
	<key>ProgramArguments</key>
	<array>
	  <string>{{.BinaryPath}}</string>
	  <string>run</string>
	  <string>-country</string>
	  <string>{{.CountryCode}}</string>
	  <string>-city</string>
	  <string>{{.CityName}}</string>
	  <string>-key</string>
	  <string>{{.APIKey}}</string>
	  <string>-unit</string>
	  <string>{{.Unit}}</string>
	  <string>-sleep</string>
	  <string>{{.SleepTime}}</string>
	  <string>-file</string>
	  <string>{{.File}}</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
        <true/>
	<key>StandardErrorPath</key>
        <string>/dev/null</string>
	<key>StandardOutPath</key>
        <string>/dev/null</string>
</dict>
</plist>
