<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.weatherterm</string>
	<key>ProgramArguments</key>
	<array>
      <string>{{PATH_TO_BINARY}}/bin/weatherterm</string>
	  <string>-country</string>
	  <string>{{OPENWEATHERMAP_COUNTRYCODE}}</string>
	  <string>-city</string>
	  <string>{{OPENWEATHERMAP_CITY}}</string>
	  <string>-key</string>
	  <string>{{OPENWEATHERMAP_APIKEY}}</string>
	  <string>-sleep</string>
	  <string>300</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
        <true/>
	<key>StandardErrorPath</key>
        <string>/dev/null</string>
	<key>StandardOutPath</key>
        <string>/dev/null</string>
</dict>
</plist>
